<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h1>Filter</h1>
            <div class="loc">
                <h1>Location</h1>
                <input type="checkbox" name="chennai" value="chennai">
                Chennai <br>
                <input type="checkbox" name="madurai" value="madurai">
                Madurai <br>
                <input type="checkbox" name="delhi" value="delhi">
                Delhi <br>
                <input type="checkbox" name="Canada" value="canada">
                Canada <br>
                <input type="checkbox" name="all" value="all">
                All the Above <br>
            </div>
            <div class="cmp">
                <h1>Company Type</h1>
                <input type="checkbox" name="corporate" value="corporate">
                Corporate <br>
                <input type="checkbox" name="foreign MNC" value="foreign MNC">
                Foreign MNC <br>
                <input type="checkbox" name="indian MNC" value="indian MNC">
                Indian MNC <br>
                <input type="checkbox" name="startup" value="startup">
                StartUp <br>
                <input type="checkbox" name="gov/PSU" value="gov/PSU">
                Gov/PSU <br>
            </div>
            <div class="salary">
                <h1>Salary</h1>
                <input type="checkbox" name="sal1" value="sal1">
                0-1L <br>
                <input type="checkbox" name="sal2" value="sal2">
                1-3L <br>
                <input type="checkbox" name="sal3" value="sal3">
                3-5L <br>
                <input type="checkbox" name="sal4" value="sal4">
                5-8L <br>
                <input type="checkbox" name="sal5" value="sal5">
                8L-above <br>
            </div>
            <div class="exp">
                <h1>Experience</h1>
                <input type="range" name="exp" val="exp">
                Any <br>
            </div>
            <div class="mode">
                <h1>Work Mode</h1>
                <input type="checkbox" name="wfo" value="wfo">
                Work From Office <br>
                <input type="checkbox" name="remote" value="remote">
                Remote <br>
                <input type="checkbox" name="hybrid" value="hybrid">
                Hybrid <br>
                <input type="checkbox" name="temp" value="temp">
                Temp <br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="/assets/insta.png" alt="loa..." id="logo">
                <h4>PreSale Solution Analyst</h4>
                <h6>HCLTech</h6>
                <li>
                    <img src="/assets/age.png" alt="">
                    <span>8-13 Yrs</span>

                    <img src="/assets/job-type.png" alt="">
                    <a href="">Hybrid</a>

                    <img src="/assets/location.png" alt="">
                    <a href="">Chennai</a><br>

                    <img src="/assets/salary.png" alt="" id="ls">
                    <span>3.5L-PA</span>
                </li>
            </div>
        </div>
        <div class="col-sm-3">
            <h1>Jobs In Feature Company</h1>
        </div>
    </div>
</div>