.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .row {
    margin-top: 5rem;
  }
  
  .card {
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    width: 100%;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .text-danger {
    color: red;
  }
  
  .text-dark {
    color: #212529;
  }
  
  .text-muted {
    color: #6c757d;
  }
  
  .row-link {
    display: flex;
    justify-content: space-between;
  }
  
  .row-link a {
    text-decoration: none;
  }
  
  .text-dark:hover {
    text-decoration: underline;
  }
  
  .text-dark:focus {
    text-decoration: none;
    outline: none;
  }
  
  .text-dark:focus:hover {
    text-decoration: underline;
  }
  
  .text-dark:active {
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  