<div class="container-fluid">
    <div class="all">
        <div class="info">
            <ul>
                <li>
                    <a href="">Jobs</a><br>
                    <a href="">haash255@gmail.com</a><br>
                    <a href="">+91 1111222299</a>
                </li>
            </ul>
        </div>
        <div class="add">
            <ul>
                <li>
                    <a href="">porur,</a><br>
                    <a href="">Chennai,</a><br>
                    <p>600008</p>
                </li>
            </ul>
        </div>
        <div class="social">
            <p><span>Connect through social Network</span><br>
             <a href="#"><img src="/assets/twitter.png"></a>
             <a href="#"><img src="/assets/insta.png"></a>
             <a href="#"><img src="/assets/facebook.png"></a>
             <a href="#"><img src="/assets/linkedin.png"></a>
            </p>
        </div>
    </div>
</div>