<h1 id="head">Blog</h1>
<div>
    <img href="" src="/assets/blog.png"><br>
    <a href="https://nithrajobs.com/blog/resume-writing-tips-for-landing-your-dream-job/999-302">
    <p>Resume Writing tips for<br> landing your Dream Jobs</p></a> 
</div>
<div>
    <img href="" src="/assets/blog.png" alt=""><br>
    <a href="https://nithrajobs.com/blog/how-to-save-money-from-minimum-salary/999-260">
    <p>How to save money from<br> minimum salary</p></a> 
</div>
<div>
    <img href="" src="/assets/blog.png" alt=""><br>
    <a href="https://nithrajobs.com/blog/tips-to-balance-your-work-and-family/999-259">
    <p>Tips for balance your work and family</p></a> 
</div>
<router-outlet></router-outlet>